:root {
    --ourYellow: #FFE400;
}
/*TopHeader*/

.topHeader{
    background-color: #081e29;
    color: white;
    padding:12px 0;
}
.phones{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    position: relative;
    height: 100%;
   
    align-items: center;
}
.phone:nth-child(1){
        margin-right: 15px
}

.phone img{
    height: 18px;
    width: 18px;
    margin-right: 5px;
}
.langAndSearch{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width:100%;
    align-items: right;
    justify-content: flex-end;
    align-items: center;
}
.langSwitcher{
    display: none;
}
.search img{
    width:20px;
    height: 20px;
}
.mainLang{
    margin-left: 18px;
    background-color: white;
    padding: 0 15px;
    color: black;
    border-radius: 15px;
    font-size: 18px;
    font-family: sans-serif;
    cursor:pointer;
}

/*navbar*/
.navBar{
    background-color: rgba(8,30,41,0.8);
    position: sticky;
    top: 0;
}
.navs{
    display: flex;
    justify-content: flex-end;
    padding: 15px 0;

}
.nav{
    margin-left:20px;
    font-size:19px;
    color:white;
}
.mainSlider{
    max-width: 100vw;
    overflow: hidden;
}
.mainSlider .owl-nav{
    display: none;
}
.mainSlider .item{
    position: relative;
    height: calc(100vh - 109px);
    background-image: url("../assets/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
.mainSlider .content{
    padding: 0 30%;
    position: relative;
    z-index: 1;
}
.mainSlider .content h2{
    color:#ffe400;
    font-size: 45px;
    margin-bottom: 20px;
}
.mainSlider .content p{
    color:#fff;
    font-size: 18px;
    margin-bottom: 20px;
    display: inline-block;
}
.mainSlider .content button{
    background: linear-gradient(135deg,#ffe400 50%, green );
    color:white;
    border:0;
    border-radius: 15px;
    padding:3px 15px;
    font-size:18px;
    outline: none !important;
    cursor: pointer;
}
.mainSlider .overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 0;
}

/* ---Products--- */
.products {
    padding: 50px 0;
    position: relative;
    /* background-image: url('../assets/images/productsBg.jpg'); */
}

.products .products-bg {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}

.products .item {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.products .item .content {
    width: 45%;
}

.products .item .content h2 {
    color: var(--ourYellow);
    font-size: 50px;
    position: relative;
}

.products .item .content h2::after {
    content: '';
    height: 4px;
    width: 100px;
    background-color: var(--ourYellow);
    position: absolute;
    bottom: -10px;
    left: 4px;
}

.products .item .content p {
    padding-top: 50px;
    font-size: 21px;
    color: white;
}

.products .item .img {
    width: 55%;
    padding-left: 30px;
}

.products .item .img img {
    height: 450px;
    object-fit: cover;
}

/* ---End Products--- */

@media(min-height:700px){
    .products .products-bg {
        height: 700px;
    }
}
@media(min-width:1400px){
    .products .item .img img{
        width: 80%;
       margin: 0 auto;
    }
    .products .item .content{
        margin: 0 100px;
    }
}